* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
}

.navbar {
    width: 100%;
    padding: 15px 40px;
    background: #581b08;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #be9708;
}
.menu-btn {
    display: none;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: #581b08;
}

.mobile-menu a {
    padding: 12px 0;
    border-top: 1px solid #77412d;
}

.hero {
    text-align: center;
    padding: 240px 20px;
    background-image: url(https://imgcdn.stablediffusionweb.com/2024/5/25/dd7ea543-32f3-4976-bf0e-0d344fe8bd29.jpg);
    background-size: cover;
    background-position: center;
}
.hero h1{
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
}
.hero p{
    color: #fff;
}
.menu-section{
    text-align: center;
    padding: 50px;
    color: #fff;
    background-color: #3b1212;
}
.menu-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: #605454;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0px 8px 25px rgba(255, 204, 153, 0.4);
}

.card img {
    width: 100%;
    height: 260px;
}
.card h3 {
    margin: 10px 0;
}
.table-section {
    padding: 30px;
    text-align: center;
    background-color: #3b1212;
    color: #fff;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    background-color: #3b1212; 
    color: white;
}

th, td {
    border: 1px solid #fff;
    padding: 15px;
    background-color: #3b1212;
}

th {
    background-color: #605454;
}

.feedback {
    padding: 50px;
    background:#3b1212;
    text-align: center;
    color: #fff;
}

blockquote {
    background:#581b08;
    padding: 15px;
    margin: 20px auto;
    width: 60%;
    border-left: 5px solid rgb(116, 111, 102);
    font-style: italic;
}
.contact {
    padding: 50px;
    text-align: center;
    background-color:#3b1212;
    color: #fff;
}

form {
    width: 90%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color:#3b1212;
}

input, form{
    background-color:#3b1212;
}

input, textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #581b08;
    color: #fff;
}

button {
    background:gray;
    padding: 12px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #605454;
}

@media (max-width: 1200px) {
    table { width: 90%; }
}
@media (max-width: 992px) {
    .hero h1 { font-size: 40px; }
    blockquote { width: 75%; }
}

@media (max-width: 768px) {

    .menu-btn { display: block; }
    .navbar ul { display: none; }
    .mobile-menu.active { display: flex; }

    .hero h1 { font-size: 32px; }

    .card { width: 90%; }

    table { width: 100%; font-size: 14px; }
    th, td { padding: 10px; }
}

@media (max-width: 576px) {

    .hero h1 { font-size: 28px; }
    .card img { height: 220px; }

    blockquote { width: 90%; }

    table { width: 100%; font-size: 12px; }
    th, td { padding: 8px; }

    form { padding: 15px; }
    input, textarea { font-size: 14px; }

    button {
        font-size: 16px;
        padding: 10px;
    }
}